
// Font family
@font-family: "IBM Plex Sans VF", "Helvetica Neue", Arial, sans-serif;

// Font size
@font-size-unit: 2px;
@font-size-xs: 5 * @font-size-unit;
@font-size-sm: 6 * @font-size-unit;
@font-size-rg: 7 * @font-size-unit;
@font-size-lg: 8 * @font-size-unit;
@font-size-xl: 9 * @font-size-unit;
@font-size-xxl: 10 * @font-size-unit;
@font-size-xxxl: 11 * @font-size-unit;

// Margin
@margin-base-unit: 8px;
@margin-sm: 1 * @margin-base-unit;
@margin-rg: 2 * @margin-base-unit;
@margin-lg: 3 * @margin-base-unit;
@margin-xl: 4 * @margin-base-unit;

// font color
@font-black: @grey-080;
@font-white: @grey-010;
@font-disabled: @grey-030;

// Avatar
@avatar-size-base: 16px;
@avatar-sm: 1.5 * @avatar-size-base;
@avatar-rg: 2 * @avatar-size-base;
@avatar-lg: 3 * @avatar-size-base;
@avatar-xl: 4 * @avatar-size-base;

// Badge
@badge-size: 20px;

.size-xsmall {
  font-size: @font-size-xs;
  line-height: @font-size-xs;
}

.size-small {
  font-size: @font-size-sm;
  line-height: @font-size-sm;
}

.size-normal,
.size-rg {
  font-size: @font-size-rg;
  line-height: @font-size-rg;
}

.size-large {
  font-size: @font-size-lg;
  line-height: @font-size-lg;
}

.size-xlarge {
  font-size: @font-size-xl;
  line-height: @font-size-xl;
}

.size-xxlarge {
  font-size: @font-size-xxl;
  line-height: @font-size-xxl;
}

.size-xxxlarge {
  font-size: @font-size-xxxl;
  line-height: @font-size-xxxl;
}

p {
  font-size: @font-size-lg;
  line-height: 1.5 * @font-size-lg;
  letter-spacing: 0;
}